# Default ignored files
/../../../:Personal_Finance_Assistant/.idea/shelf/
/../../../:Personal_Finance_Assistant/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Personal_Finance_Assistant/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:Personal_Finance_Assistant/.idea/dataSources/
/../../../:Personal_Finance_Assistant/.idea/dataSources.local.xml
